body {
    font-family: sans-serif;
    font-size: 12pt;
    width: 1160px;
}

div.main {
    padding: 5px 5px 10px 5px;
}

#jsBody_Container {
    display: flex;
}

#small {
    font-size: 10pt;
}

/*========================*/
/* Top Matter CSS (Start) */
/*========================*/
#header {
    font-size: 24pt;
    font-weight: bold;
}

ul.toolbar {
    margin: 0px;
	padding: 0px;
	list-style: none;
    font-size: 14pt;
    border-top: thin solid black;
    border-bottom: thin solid black;
}

ul.toolbar li {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

ul.toolbar li.current {
    font-weight: bold;
}

.toolbar-content {
    display: none;
}

.toolbar-content.current {
    display: inherit;
}
/*======================*/
/* Top Matter CSS (End) */
/*======================*/

/*========================*/
/* Output Tab CSS (Start) */
/*========================*/
#output_heading {
    padding-bottom: 12px;
}

#output_headingChild {
    font-size: 16pt;
}

ul.output_headingList {
    margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.output_headingList li {
    width: 750px;
    padding-bottom: 6px;
}

#output_progressBarContainer {
    width: 500px;
    height: 16px;
    background-color: #ededed;
    margin-left: 20px;
    padding: 0px;
}

#output_progressBar {
    position: relative;
    width: 0%;
    height: 100%;
    background-color: green;
}

#output_progressNumber {
    color: white;
    line-height: 16px;
    font-size: 8pt;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#output_L {
    position: relative;
    height: 530px;
    width: 620px;
}

ul.output_ulL {
    margin: 0px;
	padding: 0px;
	list-style: none;
    font-size: 10pt;
}

ul.output_ulL li {
    background: none;
    display: inline-block;
    padding: 2.5px 10px 0px 10px;
    cursor: pointer;
}

ul.output_ulL li.current {
    background: #ededed;
}

.output_chartContainer {
    display: inherit;
    background: #ededed;
    height: 500px;
    width: 600px;
    padding: 10px;
}

.output_chartDim {
    display: none;
}

.output_chartDim.current {
    display: inherit;
}

.output_indivAlleleChart {
    position: absolute;
}

#output_indivAlleleContainer {    
    position: relative;
}

#output_iacBackground {
    z-index: 1;
}

#output_iacMidground {
    z-index: 2;
}

#output_iacForeground {
    z-index: 3;
}

#output_R {
    height: 530px;
    width: 520px;
    padding-left: 12px;
}

ul.output_ulR {
    margin: 0px;
	padding: 0px;
	list-style: none;
    font-size: 10pt;
}

ul.output_ulR li {
    background: none;
    display: inline-block;
    padding: 2.5px 10px 0px 10px;
    /*cursor: pointer;*/
}

ul.output_ulR li.current {
    background: #ededed;
}

.output_chartContainerToo {
    display: inherit;
    background: #ededed;
    height: 500px;
    width: 500px;
    padding: 10px;
}

#output_curParaMagContainer {
	padding: 20px 0px 0px 0px;
}

ul.output_curParaMag {
    margin: 0px;
	padding: 0px;
	list-style: none;    
    width: 600px;
}

ul.output_curParaMag li {
    display: inline-block;
    font-size: 12px;
    padding-left: 12px;
    padding-bottom: 0px;
}
/*======================*/
/* Output Tab CSS (End) */
/*======================*/

/*============================*/
/* Parameters Tab CSS (Start) */
/*============================*/
ul.paraMag {
    margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.paraMag li {
    padding: 5px 0px 5px 0px;
}

#paraMag_L {
    width: 400px;
}

.paraMag_Info {
    display: none;
    font-size: 12px;
}

.paraMag_space {
    padding-left: 20px;
}

#paraMag_submit {
    font-size: 12pt;
}
/*==========================*/
/* Parameters Tab CSS (End) */
/*==========================*/

/*=======================*/
/* About Tab CSS (Start) */
/*=======================*/
#jsBody_About {
    width: 600px;
}
/*=====================*/
/* About Tab CSS (End) */
/*=====================*/

/*==========================*/
/* Bottom Matter CSS (Start) */
/*==========================*/
#copyright {
    font-size: 8pt;
    text-align: center;
}
/*========================*/
/* Bottom Matter CSS (End) */
/*========================*/

/* Simulation */

#simulation_hold {
    display: flex;
}

#simulation_lTable {
    padding: 0 15px 0 0;
    width: 800px;
    height: 400px;
}

#simulation_rTable {
    width: 200px;
}

#simulation_subtitle {
    font-weight: bold;
}

#alleleFreq {
    width: 800px;
    height: 400px;
}

#fst {
    width: 800px;
    height: 400px;
    display: none;
}