.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #002147;
    color: white;
    text-align: left;
    font-size: 12pt;
    border-radius: 2px;
    padding: 0px 5px 0px 5px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 100%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#popSizeTip {
    width: 220px;
}

#numOfPopTip {
    width: 200px;
}

#numOfAllelesTip {
    width: 190px;
}

#initTip {
    width: 205px;
}