body {
    font-family: sans-serif;
}

canvas{ border: 1px solid black; }

.main {
    padding: 10px;
}

#header {
    font-size: 24pt;
    font-weight: bold;
}

#subheading {
    font-size: 16pt;
}

#toolbar {
    font-size: 14pt;
    border-top: thin solid black;
    border-bottom: thin solid black;
}

#subtoolbar {
    font-size: 12pt;
    line-height: 1.5;
    padding: 0 0 10px 0;
}

#jsBody {
    font-size: 12pt;
}

.jsBody_Child {
    padding: 1px 0 1px 0;
}

#jsChart_Container {
    font-size: 12pt;
    padding: 1px 0 1px 0;
    height: 400px;
    width: 800px;
}

#copyright {
    font-size: 8pt;
    text-align: center;
}

.button {
    font-size: 12pt;
}

/* Options */

#options_hold {
    display: flex;
}

#options_lTable {
    line-height: 2;
}

#options_rTable {
    line-height: 2;
    flex-grow: 1;
}