/* Top Matter CSS (Start) */
body {
    font-family: sans-serif;
    font-size: 12pt;
}

div.main {
    padding: 5px 5px 10px 5px;
}

#header {
    font-size: 24pt;
    font-weight: bold;
}

ul.toolbar {
    margin: 0px;
	padding: 5px;
	list-style: none;
    font-size: 14pt;
    border-top: thin solid black;
}

ul.toolbar li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

ul.tabs li.current{
    background-color: black;
}

/* Top Matter CSS (End) */

button {
    font-size: 12pt;
}

input {
    background-color: #fffff0;
}

#subheading {
    font-size: 16pt;
}

#subtoolbar {
    line-height: 1.5;
    padding: 0 0 10px 0;
}

.jsBody_Child {
    padding: 1px 0 1px 0;
}

#copyright {
    font-size: 8pt;
    text-align: center;
}

/* Options */

#options_hold {
    display: flex;
}

#options_lTable {
    line-height: 2;
    text-align: right;
}

#options_rTable {
    line-height: 2;
    flex-grow: 1;
}

/* Simulation */

#jsBody_Simulation {
    display: none;
}

#simulation_hold {
    display: flex;
}

#simulation_lTable {
    padding: 0 15px 0 0;
    width: 800px;
    height: 400px;
}

#simulation_rTable {
    width: 200px;
}

#simulation_subtitle {
    font-weight: bold;
}

#alleleFreq {
    width: 800px;
    height: 400px;
}

#fst {
    width: 800px;
    height: 400px;
    display: none;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 5px;
    overflow: hidden;
}