body {
    font-family: sans-serif;
    font-size: 12pt;
}

button {
    font-size: 12pt;
}

input {
    background-color: #fffff0;
}

.main {
    padding: 10px;
}

#header {
    font-size: 24pt;
    font-weight: bold;
}

#subheading {
    font-size: 16pt;
}

#toolbar {
    font-size: 14pt;
    border-top: thin solid black;
    border-bottom: thin solid black;
}

#subtoolbar {
    line-height: 1.5;
    padding: 0 0 10px 0;
}

.jsBody_Child {
    padding: 1px 0 1px 0;
}

#copyright {
    font-size: 8pt;
    text-align: center;
}

/* Options */

#options_hold {
    display: flex;
}

#options_lTable {
    line-height: 2;
    text-align: right;
}

#options_rTable {
    line-height: 2;
    flex-grow: 1;
}

#jsBody_Simulation {
    display: none;
}