body {
    font-family: sans-serif;
    font-size: 12pt;
}

div.main {
    padding: 5px 5px 10px 5px;
}

button {
    font-size: 12pt;
}

#jsBody_Container {
    display: flex;
}

#small {
    font-size: 10pt;
}

/*========================*/
/* Top Matter CSS (Start) */
/*========================*/
#header {
    font-size: 24pt;
    font-weight: bold;
}

ul.toolbar {
    margin: 0px;
	padding: 0px;
	list-style: none;
    font-size: 14pt;
    border-top: thin solid black;
    border-bottom: thin solid black;
}

ul.toolbar li {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

ul.toolbar li.current {
    font-weight: bold;
}

.toolbar-content {
    display: none;
}

.toolbar-content.current {
    display: inherit;
}
/*======================*/
/* Top Matter CSS (End) */
/*======================*/

/*============================*/
/* Parameters Tab CSS (Start) */
/*============================*/
ul.paraMag {
    margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.paraMag li {
    padding: 5px 0px 5px 0px;
}

#paraMag_L {
    width: 400px;
}

.paraMag_Info {
    display: none;
    font-size: 12px;
}

.paraMag_space {
    padding-left: 20px;
}
/*==========================*/
/* Parameters Tab CSS (End) */
/*==========================*/

/*==========================*/
/* Bottom Mater CSS (Start) */
/*==========================*/
#copyright {
    font-size: 8pt;
    text-align: center;
}
/*========================*/
/* Bottom Mater CSS (End) */
/*========================*/


#subheading {
    font-size: 16pt;
}

#subtoolbar {
    line-height: 1.5;
    padding: 0 0 10px 0;
}

.jsBody_Child {
    padding: 1px 0 1px 0;
}



/* Simulation */

#simulation_hold {
    display: flex;
}

#simulation_lTable {
    padding: 0 15px 0 0;
    width: 800px;
    height: 400px;
}

#simulation_rTable {
    width: 200px;
}

#simulation_subtitle {
    font-weight: bold;
}

#alleleFreq {
    width: 800px;
    height: 400px;
}

#fst {
    width: 800px;
    height: 400px;
    display: none;
}